[mysqld]
user=mysql
default-storage-engine=INNODB
character-set-server=utf8
character-set-client-handshake=FALSE
collation-server=utf8_unicode_ci
init_connect='SET NAMES utf8'

# 限制登录插件
plugin-load-add=connection_control.so
connection-control=FORCE
connection-control-failed-login-attempts=FORCE
connection-control-failed-connections-threshold=10   #登陆失败次数限制
connection-control-min-connection-delay=3600000    #限制重试时间，此处为毫秒，注意按需求换算，此处为60分钟
[client]
default-character-set=utf8
[mysql]
default-character-set=utf8
